/* MEMBER PANEL
-------------------------------------------------- */
.panel-0 {
  display: flex;
  justify-content: center;
  padding: 5px 0px;
  background-color: var(--gray-m);
  height: 40px;
}

.panel-0 h3 {
  font-size: 1.1em;
  font-weight: 400;
  letter-spacing: 1px;
  color: #fff;
  display: flex;
  align-items: center;
}

/* VIDEO PANEL
-------------------------------------------------- */
.panel-1 {
  height: 80dvh;
}

.home-video {
  height: 100%;
  width: 100%;
  object-fit: fill;
}

/* VIDEO PANEL
-------------------------------------------------- */
.panel-2 {
  display: flex;
  justify-content: center;
  background-color: var(--gray-4);
  padding: 60px 0px;
}

.panel-2 button {
  border: none;
  background: none;
}

.panel-2 svg{
  width: 50px;
  height: 50px;
}

/* CONTACT PANEL
-------------------------------------------------- */
.panel-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 0px;
  gap: 50px;
}

.panel-3 a {
  color: var(--gray-m);
}

.contact-panel-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 36px;
}

.contact-panel-0 {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.contact-panel-0 hr{
  margin: 0px 60px;
}

.contact-panel-address {
  text-align: center;
}

.contact-panel-interest {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.contact-panel-interest p {
  padding: 0;
  margin: 0;
}

.contact-panel-2 button {
  padding: 20px 30px;
  border-radius: 5px;
  border: none;
  background-color: var(--gray-m);
  color: #fff;
  font-size: 1.1em;
  font-weight: bold;
  letter-spacing: 2px;
}

/* MAP PANEL
-------------------------------------------------- */
#mapCanvas {
    width: 100%;
    height: 500px;
}

.panel-4 {
  position: relative;
}

.mapbox-logo {
  position: absolute;
  height: 20px;
  width: 80px;
  left: 20px;
  bottom: 10px;
}

.leaflet-bottom,
.leaflet-right {
  position: static;
}

.leaflet-control-container {
  position: static;
}