/* VARIABLES
-------------------------------------------------- */

/* STANDARDIZATIONS
-------------------------------------------------- */
html {
	box-sizing: border-box;
	font-size: 62.5%;
}

*, *:before, *::after {
	box-sizing: inherit;
}

html, body {
	height: 100%;
}

body{
	background: #f4f4f4;
	color: #555;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.5rem;
	line-height: 1.6em;
	margin: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
}

h1, h2, h3 {
	margin: 0;
}

h1 {
	font-size: 3rem;
	line-height: 1.15;
}

h3 {
	font-size: 2rem;
}

/* VIDEO 
-------------------------------------------------- */
.home-video {
  width: 100%;
  object-fit: fill;
}

/* MAP 
-------------------------------------------------- */
#mapCanvas {
    width: 100%;
    height: 500px;
}

.panel-4 {
  position: relative;
}

.mapbox-logo {
  position: absolute;
  height: 20px;
  width: 80px;
  left: 20px;
  bottom: 10px;
}

.leaflet-bottom,
.leaflet-right {
  position: static;
}

.leaflet-control-container {
  position: static;
}